<com.mtm.vogui.models.settings.core.CoreSettings>
  <input>
    <calibration>
      <path>assets/datasets/boofcv/applet/vo/drc/mono_plane.yaml</path>
      <paths>
        <string>assets/datasets/boofcv/applet/vo/drc/mono_plane.yaml</string>
        <string>assets/datasets/vogui/calibration/mono/intrinsic_Asus_N56VZ_Webcam_1280_720.yaml</string>
        <string>assets/datasets/vogui/calibration/mono/intrinsic_Microsoft_Kinect_640_480.yaml</string>
        <string>assets/datasets/vogui/calibration/mono/intrinsic_Microsoft_Kinect_640_480_LowBaseheight.yaml</string>
        <string>assets/datasets/vogui/calibration/mono/intrinsic_Samsung_GalaxyS2_Camera_320_240.yaml</string>
        <string>assets/datasets/vogui/calibration/mono/intrinsic_Samsung_GalaxyS2_Camera_320_240_LowBaseheight.yaml</string>
        <string>assets/datasets/vogui/calibration/mono/intrinsic_Samsung_GalaxyS2_Camera_320_240_CustomBaseheight.yaml</string>
      </paths>
    </calibration>
    <source>Video</source>
    <video>
      <path>assets/datasets/boofcv/applet/vo/drc/left_mono.mjpeg</path>
      <paths>
        <string>assets/datasets/boofcv/applet/vo/drc/left_mono.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_00_Inside_1280x720.avi</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_01_Inside_1280x720.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_02_Inside_640x480.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_03_Inside_400x400.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_04_Inside_Medium_Pitch_0_1_640x480.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_05_Inside_Medium_Pitch_0_1_640x480.mp4</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_06_Inside_Reverse_Medium_Pitch_0_2_640x480.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_07_Inside_Reverse_(20140411_134424)_640x480.mp4</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_08_Inside_High_Pitch_(20140409)_1280x720.mp4</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_09_Outside_640x480.mp4</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_10_Outside_400x400.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_11_Inside_Prova_1280x720_Full_Frames.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_12_Inside_Prova_1280x720_Half_Frames.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_13_Inside_Prova_1280x720_Quarter_Frames.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Smartspace_14_Inside_Prova_640x360_Full_Frames.mjpeg</string>
        <string>assets/datasets/vogui/media/smartspace/Inside_132_frames_1280x720/</string>
        <string>assets/datasets/vogui/media/smartspace/Inside_456_frames_1280x720/</string>
        <string>assets/datasets/vogui/media/smartspace/Inside_660_frames_1280x720/</string>
        <string>assets/datasets/vogui/media/libviso2/LibViso_01_Sample_Video_1344x372.avi</string>
        <string>assets/datasets/vogui/media/libviso2/LibViso_02_Sample_Video_400x400.mjpeg</string>
      </paths>
    </video>
    <device>
      <type>V4L4J</type>
      <targetWidth>320</targetWidth>
      <targetHeight>240</targetHeight>
      <boofCv>
        <path></path>
      </boofCv>
      <v4l4j>
        <path>/dev/video0</path>
        <sustainFramerate>false</sustainFramerate>
        <timeoutImageIO>false</timeoutImageIO>
        <keepFormat>false</keepFormat>
      </v4l4j>
    </device>
    <inputPreview>true</inputPreview>
    <fullResolutionPreview>false</fullResolutionPreview>
  </input>
  <image>
    <descriptor>GrayF32</descriptor>
    <resize>false</resize>
    <resizeWidth>400</resizeWidth>
    <resizeHeight>400</resizeHeight>
    <frameSkipEnabled>false</frameSkipEnabled>
    <frameSkipValue>1</frameSkipValue>
    <internalImagePreview>false</internalImagePreview>
  </image>
  <tracker>
    <trackerType>Klt</trackerType>
    <kltTracker__templateRadius>3</kltTracker__templateRadius>
    <kltTracker__pyramidLevels>4</kltTracker__pyramidLevels>
    <kltTracker__maxFeatures>600</kltTracker__maxFeatures>
    <kltTracker__radius>3</kltTracker__radius>
    <kltTracker__threshold>1.0</kltTracker__threshold>
    <surfTracker__maxFeaturesPerScale>200</surfTracker__maxFeaturesPerScale>
    <surfTracker__extractRadius>3</surfTracker__extractRadius>
    <surfTracker__initialSampleSize>2</surfTracker__initialSampleSize>
    <trackerShowActiveTracks>true</trackerShowActiveTracks>
    <trackerShowNewTracks>false</trackerShowNewTracks>
  </tracker>
  <visualOdometry>
    <type>MonoPlaneInfinity</type>
    <monoPlaneInfinity>
      <thresholdAdd>75</thresholdAdd>
      <thresholdRetire>2</thresholdRetire>
      <inlierPixelTol>1.5</inlierPixelTol>
      <ransacIterations>200</ransacIterations>
    </monoPlaneInfinity>
    <monoPlaneOverhead>
      <cellSize>0.06</cellSize>
      <maxCellsPerPixel>25.0</maxCellsPerPixel>
      <mapHeightFraction>0.7</mapHeightFraction>
      <inlierGroundTol>1.5</inlierGroundTol>
      <ransacIterations>300</ransacIterations>
      <thresholdRetire>2</thresholdRetire>
      <absoluteMinimumTracks>100</absoluteMinimumTracks>
      <respawnTrackFraction>0.5</respawnTrackFraction>
      <respawnCoverageFraction>0.6</respawnCoverageFraction>
    </monoPlaneOverhead>
  </visualOdometry>
  <chart>
    <type>YFrames</type>
    <scaleXZ>10.0</scaleXZ>
    <scaleY>1.0</scaleY>
  </chart>
</com.mtm.vogui.models.settings.core.CoreSettings>